fastapi
uvicorn
python-multipart
sqlalchemy
pydantic
python-docx
pypdf2
sentence-transformers
# Forzar version CPU para que quepa en Render Free Tier
torch --extra-index-url https://download.pytorch.org/whl/cpu
